<%- include('header') %>
      <main class="main addplayer">
        <div class="form-container">
          <h3 class="main-heading">Add new player to ATP Tour</h3>
          <form action="/players/add" method="POST" class="form-styling">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label for="phone">Phone</label>
            <input type="tel" name="phone" id="phone" required>
            <label for="dateJoined">Turned pro</label>
            <input type="date" name="dateJoined" id="dateJoined" required>
            <label for="racket">Racket used</label>
            <input type="text" name="racket" id="racket" required>
            <button type="submit" class="button-styling">Submit</button>
          </form>
        </div>

      </main>
<%- include('footer') %>