<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>ATP Tour</title>
  </head>
  <body>

    <div class="wrapper">

      <header class="header">
        <h1 class="top-heading logo-heading"> <a href="/index"> <img src="/img/atp-logo.png" alt="ATP Logo" class="top-logo"> </a> </h1>
        <h2 class="top-heading sub-heading">Association of Tennis Professionals</h2>
        <nav class="nav">
          <a href="/index" class="a-links nav-links">Home</a>
          <a href="/playerList" class="a-links nav-links">Players</a>
          <a href="/addPlayer" class="a-links nav-links">Add Player</a>
        </nav>
      </header>