<%- include('header') %>
      <main class="main index">
        <!-- <img src="/img/nadal-forehand.jpeg" alt="Rafael Nadal Forehand"> -->
        <img src="/img/ATP-finals-stadium.jpeg" alt="Stadium ATP Finals">
        <div class="index-text-container">
          <p>
            As a global governing body of men’s professional tennis, the ATP’s mission is to serve tennis. 
            We entertain a billion global fans, showcase the world’s greatest players at the most prestigious tournaments, and inspire the next generation of fans and players. 
            From the ATP Cup in Australia, to Europe, the Americas and Asia, the stars of the game battle for titles and Pepperstone ATP Rankings points at ATP Masters 1000, 500 and 250 events, and Grand Slams. All roads lead towards the Nitto ATP Finals, the prestigious season finale held in Turin, Italy. 
            Featuring only the world’s top 8 qualified singles players and doubles teams, the tournament also sees the official crowning of the year-end ATP World No. 1, the ultimate achievement in tennis.
          </p>
        </div>
      </main>
<%- include('footer') %>